@{
    ViewData["Title"] = "Round";
}
@using System.Linq
@model RoundViewModel

<h1>@ViewData["Title"]</h1>

<p>Current Players:</p>
<form asp-action="SavePoints">
    @foreach (var player in Model.CurrentGame.GamePlayers)
    {
        <p>@(player.Player.FirstName) @(player.Player.LastName)</p>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@player.Points"></label>
            <input asp-for="@player.Points" class="form-control"/>
        </div>
    
        <div class="form-group">
            <input type="submit" value="Save Points" class="btn">
        </div>
    }
</form>
<a asp-action="NextRound" asp-route-gameId="@Model.CurrentGame.GamesId"></a>