@{
    ViewData["Title"] = "Round";
}
@using System.Linq
@model RoundViewModel

<h1>@ViewData["Title"]</h1>

<p>Current Players:</p>
@foreach (var player in Model.CurrentGame.GamePlayers)
{
    <p>@(player.Player.FirstName) @(player.Player.LastName)</p>
    <div class="form-group">
        @Html.LabelFor(m => player.Points)
        @Html.TextBoxFor(m => player.Points)
    </div>
}

<a asp-action="NextRound" asp-route-gameId="@Model.CurrentGame.GamesId">Next Round</a>